<sospreadsheet>
    <sheet root="true">
        <sheet name="a">
            <code row="0" col="0">1 & 2 \\ 3 & 4</code>
            <hbarrier row="0"/>
            <vbarrier col="0"/>
            <styles/>
        </sheet>
    </sheet>
</sospreadsheet>
